*.egg-info/
__pycache__/
.ipynb_checkpoints/

.DS_Store
.vscode

*.zip
*.tgz

data/*
!data/*.py
!data/*.md
!data/*.json
!data/hm3d/*
!data/scannet/*
!data/scene_images/*
!data/results/*

assets/demo_frames/*
